<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sheep Intelligence</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/jquery-ui.css" rel="stylesheet">
    <link href="/static/bootstrap/gamify.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/base.css" rel="stylesheet">

    <style type="text/css" id="holderjs-style"></style>
  </head>


  <body style="font-size: 20px;">

    <div id="welcome_page" class="show">
    <input type = "button" value="Statistics Page" class="btn btn-primary" onclick="javascript:statistics_page()"  id="statistics_page">

      <h1 class="game_name">Sheep Intelligence</h1>
      <div class="graze_page_image"></div>
      <div class="stages">
        {% for i in range(1, len(_ids)+1) %}
        <button onclick="javascript:start_game({{_ids[i-1][0]}},{{i}});" class="start_button">{{i}}</button>
        {% end %}
      </div>
    </div>
    <div id="game_starts" class="hide game_page">

    <div class="graze_page_image"></div>
    <div class="blog-masthead">
      <div class="container">
        <!--<nav class="blog-nav">-->
          <div class="" style="text-align: center">Level: <span id="levelNumber"></span></div>
        <!--</nav>-->
      </div>
    </div>

    <div class="container-fluid">
      <div class="blog-header">
        <div class="row">
    <div id="game" class="canvas_wrapper">
	  <div id="draggable" class="draggable ui-widget">
	  <img src="/static/images/sheep.png" id="sheep"/>
	  </div>
            <canvas id="canvas" width=900 height=500></canvas>
          </div>
          <div style="position: fixed;top: 40%;right: 70px;text-align:center;text-shadow: 0 0 5px green;color: red;background-color: white;padding: 14px;">
            <div style="font-size: 45px;"><span id="score">0</span></div>
            steps
          </div>
          <div class="highscore_blink blink" style="right: 40px;top: 65%;">HIGH</div>
          <div class="highscore_blink blink" style="right: 10px;top: 75%;">SCORE</div>

          <div style="position: fixed;top: 40%;left: 30px;text-align:center;text-shadow: 0 0 5px green;color: red;background-color: white;padding: 14px;">
            <div style="font-size: 45px;"><span id="percentage_completed">0</span>%</div>
            completed
          </div>

          <div class="highscore_blink blink" style="left: 40px;top: 65%;">HIGH</div>
          <div class="highscore_blink blink" style="left: 10px;top: 75%;">SCORE</div>

          <div style="margin-left:300px;display:inline;">CURRENT HIGHSCORE:</div>
          <div id="highestScore" style="display:inline;margin-left:20px;">  0 steps</div>
          
          <div style="margin-left:20px;display:inline;"><span id="highest_percentage_completed">0</span>% completed</div>
          <div id="hidden_game" class="canvas_wrapper hide">
            <canvas id="hidden_canvas" width=900 height=500></canvas>
            <div>

        </div><!-- /.row -->
      </div><!-- /.blog-header -->
    </div><!-- /.container -->
	  <input type="button" value="Submit" id="submitSolution" class="btn btn-success">
    <input type ="button" value="Reset" class="btn btn-warning" onclick="javascript:start_game()">
    <input type = "button" value="Main Menu" class="btn btn-info" onclick="javascript:main_menu()">

    </div><!-- game_starts -->
    
      


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/static/jquery-1.8.3.js"></script>
    <script src="/static/bootstrap/bootstrap.js"></script>
    <script src="/static/underscore.js"></script>
    <script src="/static/base.js"></script>
    <script src="/static/ion.sound.js"></script>   
    <script src="/static/jquery-ui.js"></script>
    <script src="/static/firstpage.js"></script>
    
  
 </body>
 
</html>
